html, body {
    height: 100vh;
}

* {
    margin-bottom: 0px;
    padding: 0px;
}

.table {
    cursor: pointer;
    overflow-y: scroll;
}
#inputID {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 0;
    padding-left: 20px;
}

.form-control {
    border-radius: 20px;
}

.form-control:focus {
    box-shadow: 0 0 0 0;
}

.btn {
    border-radius: 20px;
}

.fa-arrow-left {
    font-size: 18px;
}


