{% extends "base.html" %}
{% block conteudo %}
<!-- Formulario de Cadastro -->
<form method="POST">
  {{ form.csrf_token }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert alert-danger">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <!-- Logo -->
  <div class="text-center">
    <i class="fas fa-list-ul logo mb-2"></i>
    <h1 class="titulo">Cadastre-se </h1>
  </div>
  <!-- Campo Nome Usuario -->
  <div class="form-group">
    {{ form.usuario(class="form-control", placeholder="Usuário", autofocus="True", autocomplete="off", required="True") }}
  </div>
  <!-- Campo Email -->
  <div class="form-group">
    {{ form.email(class="form-control", placeholder="E-mail", type="email", autocomplete="off", required="True") }}
  </div>
  <!-- Campo Senha -->
  <div class="form-group">
    {{ form.senha(class="form-control", placeholder="Senha", required="True") }}
  </div>
  <!-- Campo Valida Senha -->
  <div class="form-group">
    {{ form.val_senha(class="form-control", placeholder="Repita a senha", required="True") }}
  </div>
  <button class="btn btn-block btn-success" type="submit">Cadastrar</button>
  <button class="btn btn-block btn-link text-light" type="button">Já possui uma conta?</button>
</form>
{%  endblock  %}
