{% extends "base.html" %}
{% block conteudo %}
<!-- Formulario de Login -->
<form method="POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert alert-light">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <!-- Logo -->
  <div class="text-center">
    <img class="logo-titulo" src="../static/img/guia.png" alt="Guia">
  </div>
  <!-- Campo Nome Usuario -->
  <div class="form-group">
    <input type="text" class="form-control", placeholder="Número da guia" autofocus autocomplete="off" required>
  </div>
  <!-- Campo Senha -->
  <button class="btn btn-block btn-success" type="submit">Buscar</button>
</form>
{% endblock %}
